* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  background-color:	#BC8F8F;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titles{
 display: flex;
 flex-direction: column;
 position: absolute;
 margin-bottom: 15%;
 align-items: center;
 height: 16%;
 width: 30%;
}

h1 {
  color:white;
  font-size: 7.25vh;
}

h2 {
  color: white;
  margin-top: 1.5vh;
  margin-bottom: 5vh;
  font-size: 4vh;
}

.container-inputs{
  display: flex;
  flex-direction: center;
  align-items: center;
}

input {
  border: none;
  margin: 10px;
  padding: 12px;
}

button {
  font-size: 4vh;
  border: none;
  padding: 8px;
  margin: 0.2em;
  margin-top: 6.5px;
  height: 6.5vh;
  background-color:white;
}